.ex-1-square {
  transition: 5s;
}

.ex-1-square:hover {
  width: 100px;
  height: 100px;
  background-color: red;
}

.ex-2-square {
  transition: background 5s, width 1.5s;
}

.ex-2-square:active {
  width: 400px;
  background: red;
}

.ex-3-square {
  transition: 1s;
}

.ex-3-square:hover {
  border-radius: 50%;
  background: red;
}

.ex-4-square {
  transition: 5s;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
  transition: 3s;
}
.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(.3);
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img {
  transition: 1s;
}

.ex-7-img:hover {
  filter: grayscale(1);
}

.ex-8-img {
  transition: 5s;
}

.ex-8-img:hover {
  filter: blur(10px);
  border-radius: 40px;
}

.ex-9-img {
  transition: 3s;
}

.ex-9-img:hover {
  filter: opacity(5px);
  border-radius: 40px;
  transform: scale(0.5);
}

.ex-10-icon {
  animation: spin 2s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(1turn);
  }
}

.ex-12-button:hover .ex-12-top-white {
  animation: moveTopWhite 1s;
}
@keyframes moveTopWhite {
  0% {
    left: 10%;
  }
  50% {
    left: calc(100% - 60px);
  }
  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: moveBottomWhite 1s;
}
@keyframes moveBottomWhite {
  0% {
    right: 10%;
  }
  50% {
    right: calc(100% - 60px);
  }
  100% {
    right: 10%;
  }
}
